<%= stylesheet_link_tag "create_edit" %>
<%= form_for @idea do |f| %>
  <%= f.label :title, class: 'info-1' %>
  <%= f.text_field :title, class: 'info-2' %>

  <%= f.label :description, class: 'info-1' %>
  <%= f.text_area :description, class: 'info-2'%>

  <%= f.label :category, class: 'info-1' %>
  <div class='info-2'>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
  </div>

  <%= f.label :image, class: 'info-1' %>
    <%= f.collection_check_boxes(:image_ids, Image.all, :id, :name) do |t| %>
    <div class='info-3'>
      <%= t.label do %>
        <%= t.check_box + t.text %>
      <% end %>
    </div>
    <% end %>

    <%= f.submit class:"submit-button" %>
<% end %>
