
<%= stylesheet_link_tag "category" %>
<header>
  <h2>List of Ideas</h2>
  <span id="add-label" title="Create a New Idea"><%= link_to image_tag("idea.png", height: 35, width: 35), new_idea_path %>
</header>
<table>
  <% @ideas.each do |idea| %>
    <tr class=idea_<%= idea.id %>>
      <td><%= link_to idea.title, idea_path(idea) %></td>
      <td><%= idea.category.name %></td>
      <td><%= idea.description %></td>
      <td title="Edit this Idea"><%= link_to image_tag("edit.png", height: 15, width: 15), edit_idea_path(idea.id) %></td>
      <td title="Delete this Idea"><%= link_to image_tag("delete.png", height: 15, width: 15), idea_path(idea.id), method: "delete" %></td>
    </tr>
  <% end %>
</table>
