
<%= stylesheet_link_tag "index_show" %>
<table>
  <td><h3 class="idea-main-title"><%= current_user.username %>'s Idea Box</h3></td>
  <td class="add-idea-label" ><p title="Create a New Idea"><%= link_to image_tag("idea.png", height: 60, width: 60), new_idea_path %></p></td>
</table>
<% @ideas.each do |idea| %>
  <table class="index-ideas-list-title">
    <td><h3 class="idea-main-title-index"><%= link_to idea.title, idea_path(idea) %></h3></td>
    <td class="idea-title-icon"><p title="Edit this Idea"><%= link_to image_tag("edit.png", height: 25, width: 25), edit_idea_path(idea.id) %></p></td>
    <td class="idea-title-icon"><p title="Delete this Idea"><%= link_to image_tag("delete.png", height: 25, width: 25), idea_path(idea.id), method: "delete" %></p></td>
  </table>
  <hr/>
  <section class="idea-images">
    <% idea.images.each do |image| %>
      <article class="index-images">
        <img class="idea-images" src="<%= image.url %>" alt="<%= image.name %>"/>
      </article>
    <% end %>
  </section>
<% end %>
