<%= stylesheet_link_tag "index_show" %>
<p class="previous-icon" title="Return to Index"><%= link_to image_tag("return.png", height: 35, width: 125), ideas_path %></p>
<table >
  <td><h3 class="idea-main-title"><%= @idea.title %></h3></td>
  <td class="idea-title-icon"><p title="Edit this Idea"><%= link_to image_tag("edit.png", height: 25, width: 25), edit_idea_path(@idea.id) %></p></td>
  <td class="idea-title-icon"><p title="Delete this Idea"><%= link_to image_tag("delete.png", height: 25, width: 25), idea_path(@idea.id), method: "delete" %></p></td>
</table>
<li class="info-1">Category</li>
<li class="info-2"><%= @idea.category.name %></li>
<li class="info-1">Description</li>
<li class="info-2"><%= @idea.description %></li>
<li class="info-1">Assigned Images </li>
<section class="idea-images">
  <% @idea.images.each do |image| %>
    <article>
      <img src="<%= image.url %>" alt="<%= image.name %>"/>
    </article>
  <% end %>
</section>
