<%= stylesheet_link_tag "category" %>
<header>
  <h2> List of Categories </h2>
  <span id="add-label" title="Add a New Category"><%= link_to image_tag("nc_icon.png", height: 35, width: 35), new_category_path %>
</header>
<table>
  <% @categories.each do |category| %>
    <tr class=category_<%= category.id %>>
      <td><%= link_to category.name, category_path(category) %></td>
      <td title="Delete this Category"><%= link_to image_tag("delete.png", height: 15, width: 15), category_path(category.id), method: "delete" %></td>
    </tr>
  <% end %>
</table>
